body {
  margin: 0 auto;
  background: url('https://blog.q42.nl/content/images/2020/01/Q42-logo-vierkant.png') #f3f5ee
    no-repeat center/90%;
}

#container {
  width: 1000px;
  height: 1100px;
  border: 0.5px solid #0000ff;
  border-radius: 3px;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
  text-align: center;
  margin: 10px auto;
}

#container > div {
  border: thin solid #0000ff;
  border-radius: 2px;
  font-size: 12px;
  line-height: 20px;
}
